//
// Variables
// -----------------------------------------

$balloon-bg:             fade-out(#111, .1);
$balloon-base-size:      10px;
$balloon-arrow-height:   6px;
$small-screen-max-width: 767px;


//
// Mixins
// -----------------------------------------

@mixin svg-arrow ($color, $position: up) {

    $degrees: 0;
    $height:  6px;
    $width:   18px;

    @if ($position == down) {
        $degrees: 180 18 6;
    } @else if ($position == left) {
        $degrees: -90 18 18;
        $width: 6px;
        $height: 18px;
    } @else if ($position == right) {
        $degrees: 90 6 6;
        $width: 6px;
        $height: 18px;
    }

    background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="#{$width * 2}" height="#{$height * 2}"><path fill="#{$color}" transform="rotate(#{$degrees})" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>');
    background-size: 100% auto;
    width: $width;
    height: $height;
}

@mixin transition ($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform ($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  transform: $val;
}

@mixin transform-origin ($val) {
  -webkit-transform-origin: $val;
  -moz-transform-origin: $val;
  -ms-transform-origin: $val;
  transform-origin: $val;
}

@mixin opacity ($trans) {
  filter: alpha(opactiy=($trans * 100));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}

@mixin base-effects () {
    @include opacity(0);
    pointer-events: none;
    @include transition(all .18s ease-out);
}


//
// Styles
// -----------------------------------------


[data-balloon] {
    position: relative; // alt. absolute or fixed

    &:before {
        @include base-effects();

        background: $balloon-bg;
        border-radius: 4px;
        color: #fff;
        content: attr(data-balloon);
        font-size: $balloon-base-size + 2;
        padding: .5em 1em;
        position: absolute;
        white-space: nowrap;
        z-index: 10;
    }

    &:after {
        @include svg-arrow($balloon-bg);
        @include base-effects();

        content: '';
        position: absolute;
        z-index: 10;
    }

    &:hover {
        &:before,
        &:after {
            @include opacity(1);
            pointer-events: auto;
        }
    }

    &[data-balloon-break] {
        &:before {
            white-space: normal;
        }
    }

    &[data-balloon-pos="up"] {
        &:before {
            bottom: 100%;
            left: 50%;
            margin-bottom: 5px + $balloon-arrow-height;
            @include transform(translate3d(-50%, 10px, 0));
            @include transform-origin(top);
        }

        &:after {
            bottom: 100%;
            left: 50%;
            margin-bottom: 5px;
            @include transform(translate3d(-50%, 10px, 0));
            @include transform-origin(top);
        }

        &:hover {
            &:before {
                @include transform(translate3d(-50%, 0, 0));
            }

            &:after {
                @include transform(translate3d(-50%, 0, 0));
            }
        }

    }

    &[data-balloon-pos='down'] {
        &:before {
            left: 50%;
            margin-top: 5px + $balloon-arrow-height;
            top: 100%;
            @include transform(translate3d(-50%, -10px, 0));
        }

        &:after {
            @include svg-arrow($balloon-bg, 'down');

            left: 50%;
            margin-top: 5px;
            top: 100%;
            @include transform(translate3d(-50%, -10px, 0));
        }

        &:hover {
            &:before {
                @include transform(translate3d(-50%, 0, 0));
            }

            &:after {
                @include transform(translate3d(-50%, 0, 0));
            }
        }
    }

    &[data-balloon-pos='left'] {
        &:before {
            margin-right: 5px + $balloon-arrow-height;
            right: 100%;
            top: 50%;
            @include transform(translate3d(10px, -50%, 0));
        }

        &:after {
            @include svg-arrow($balloon-bg, 'left');

            margin-right: 5px;
            right: 100%;
            top: 50%;
            @include transform(translate3d(10px, -50%, 0));
        }

        &:hover {
            &:before {
                @include transform(translate3d(0, -50%, 0));
            }

            &:after {
                @include transform(translate3d(0, -50%, 0));
            }
        }

    }

    &[data-balloon-pos='right'] {
        &:before {

            left: 100%;
            margin-left: 5px + $balloon-arrow-height;
            top: 50%;
            @include transform(translate3d(-10px, -50%, 0));
        }

        &:after {
            @include svg-arrow($balloon-bg, 'right');

            left: 100%;
            margin-left: 5px;
            top: 50%;
            @include transform(translate3d(-10px, -50%, 0));
        }

        &:hover {
            &:before {
                @include transform(translate3d(0, -50%, 0));
            }

            &:after {
                @include transform(translate3d(0, -50%, 0));
            }
        }
    }

    &[data-balloon-length='small'] {
        &:before {
            white-space: normal;
            width: 80px;
        }
    }

    &[data-balloon-length='medium'] {
        &:before {
            white-space: normal;
            width: 150px;
        }
    }

    &[data-balloon-length='large'] {
        &:before {
            white-space: normal;
            width: 260px;
        }
    }

    &[data-balloon-length='xlarge'] {
        &:before {
            white-space: normal;
            width: 380px;

            @media screen and (max-width: $small-screen-max-width) {
                white-space: normal;
                width: 90vw;
            }
        }
    }

    &[data-balloon-length='fit'] {
        &:before {
            white-space: normal;
            width: 100%;
        }
    }

    @media screen and (max-width: $small-screen-max-width) {
        &[data-balloon-smallscreen-overlay] {
            &:before,
            &:after {
                display: none;
            }
        }

    }
}


.balloon-overlay-scrim {
    background-color: rgba(0,0,0,0.5);
    pointer-events: auto !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    @include base-effects();

    .balloon-overlay {
        background: $balloon-bg;
        border-radius: 4px;
        color: #fff;
        font-size: 15px;
        max-width: 90vw;
        padding: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 380px;
        @include transform(translate3d(-50%, -55%, 0));
        @include base-effects();

        h5 {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }

        p {
            margin-bottom: 0;
        }
    }

    &.visible {
        @include opacity(1);

        .balloon-overlay {
            @include opacity(1);
            @include transform(translate3d(-50%, -50%, 0));
        }
    }
}

@media screen and (min-width: $small-screen-max-width + 1) {
    .balloon-overlay-scrim {
        display: none;
    }
}
